body {
  margin: 8px;
}
.story-container {
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.header,
.story {
  text-align: left;
  display: block;
}
.header {
  background-color: rgb(255, 102, 0);
  height: 24px;
  line-height: 24px;
  font-size: 13.33px;
}
.header .menu {
  vertical-align: top;
  margin-left: 4px;
}
.header .menu a,
.separator,
.heading {
  margin-left: 5px;
}

.separator::after {
  content: "|";
}

.heading {
  font-weight: bold;
  vertical-align: top;
  margin-left: 4px;
}

.logo {
  color: white;
  border: 1px solid white;
  margin: 2px 0 0 2px;
  height: 18px;
  width: 18px;
}

.login {
  float: right;
  padding-right: 5px;
}
.story:nth-child(2) {
  /*kind of hacky, to insert space between header and first story. it would be better if there was an actual wrapper around the stories*/
  padding-top: 10px;
}
.story {
  background-color: #f6f6ef;
  color: #828282;
  font-size: 10pt;
  padding-top: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.story > div {
  display: inline-block;
}
.rank {
  vertical-align: top;
  min-width: 2.5em;
  text-align: right;
}
.story-header,
.details {
  margin-left: 5px;
}
.title {
  color: black;
}

.details,
.domain {
  font-size: 8pt;
}

.domain {
  margin-left: 0.5em;
}

.details > span {
  margin-right: 0.5em;
}

.vote-button {
  font-size: 13pt;
}

@media screen and (max-width: 750px) {
  body {
    margin: 0;
  }
  .story-container {
    width: 100%;
    margin: 0;
  }
}
